body {
  padding: 20px;
  font-family: Helvetica, sans-serif;
}
footer {
  margin-top: 20px;
}

/* Recap - Universal Selector, Type Selector, Class Selector*/

/* Id Selector - try to avoid it! */

/* Attribute selectors */

/* Pseudo Classes */

/* Pseudo Elements 🌍 */

/* Combinators */
